@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
    Layout = "/Areas/Identity/Pages/_Layout.cshtml";
}

<div class="bg-video" data-vide-bg="/dashmix/media/videos/city_night" data-vide-options="posterType: jpg">
    <div class="row no-gutters bg-danger-op">
        <!-- Meta Info Section -->
        <div class="hero-static col-md-6 d-none d-md-flex align-items-md-center justify-content-md-center text-md-center">
            <div class="p-3">
                <p class="display-4 font-w700 text-white mb-0">
                    Visualise your idea..
                </p>
                <p class="font-size-h1 font-w600 text-white-75 mb-0">
                    ..and build it!
                </p>
            </div>
        </div>
        <!-- END Meta Info Section -->
        <!-- Main Section -->
        <div class="hero-static col-md-6 d-flex align-items-center bg-white">
            <div class="p-3 w-100">
                <!-- Header -->
                <div class="text-center">
                    <a class="link-fx text-danger font-w700 font-size-h1" href="index.html">
                        <span class="text-dark">Dash</span><span class="text-danger">mix</span>
                    </a>
                    <p class="text-uppercase font-w700 font-size-sm text-muted">Account Reset Password</p>
                </div>
                <!-- END Header -->
                <!-- Unlock Form -->
                <!-- jQuery Validation (.js-validation-lock class is initialized in js/pages/op_auth_lock.min.js which was auto compiled from _es6/pages/op_auth_lock.js) -->
                <!-- For more info and examples you can check out https://github.com/jzaefferer/jquery-validation -->
                <div class="row no-gutters justify-content-center">
                    <div class="col-sm-8 col-xl-6">
                        <form class="js-validation-lock" method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <input asp-for="Input.Code" type="hidden"/>

                            <div class="py-3" dir="ltr">
                                <div class="form-group">
                                    <input type="text" asp-for="Input.Email" class="form-control form-control-lg form-control-alt" placeholder="Email">

                                </div>
                                <div class="form-group">
                                    <input type="password" asp-for="Input.Password" class="form-control form-control-lg form-control-alt" placeholder="NewPassword">
                                </div>
                                <div class="form-group">
                                    <input type="password" asp-for="Input.ConfirmPassword" class="form-control form-control-lg form-control-alt" placeholder="ConfirmPassword">
                                </div>
                            </div>

                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-block btn-hero-lg btn-hero-danger">
                                    <i class="fa fa-fw fa-lock-open mr-1"></i> reset
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- END Unlock Form -->
            </div>
        </div>
        <!-- END Main Section -->
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
