body, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, .btn, .tooltip, .form-control {
    font-family: IRANSans;
}

.rtl{
    direction:rtl;
}

.ltr{
    direction:ltr;
}

.select2-container .select2-selection--single {
    height: 38px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 15px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 34px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 36px;
}

.select2-results__option {
    padding: 1px 15px 3px;
}

.select2-results__option:empty {
    display: none;
}

.select2-container {
    width: 100% !important;
}

body.swal2-height-auto {
    height: 100% !important;
}

.tooltip {
    font-weight: normal;
    font-size: smaller;
}

.tooltip-inner {
    border-radius: 0.15rem;
    padding: 0.05rem .75rem 0.1rem;
}

.pagination .page-link {
    font-weight: normal;
}

[dir="rtl"] .mds-bootstrap-persian-datetime-picker-popover {
    right: auto !important;
}

.table-text-left td, .table-text-left th{
    text-align:left;
}

.table tr.table-fatal {
    background-color: #313131 !important;
    color: #ff4d4d;
}

.table a.btn-hero-secondary{
    color:#fff;
}

.td-ellipsis {
    max-width: 80ch;
}

.ellipsis {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all .2s linear;
    white-space: nowrap;
    padding: .5rem 1rem;
}

    .ellipsis:focus, .ellipsis:hover {
        color: transparent;
    }

        .ellipsis:focus:after, .ellipsis:hover:after {
            content: attr(data-text);
            overflow: visible;
            text-overflow: inherit;
            width: auto;
            white-space: normal;
            word-wrap: break-word;
            display: block;
            color: #444;
            margin-top: -1.8rem;
        }