@{
    ViewData["Title"] = "Home Page";
}

<ul dir="rtl">
    <li>
        <a asp-controller="Role" asp-action="CreateRole">ایجاد رول جدید</a>
    </li>
    <li>
        <a asp-controller="Role" asp-action="UpdateRoleTitle">به روز رسانی رول - عنوان</a>
    </li>
    <li>
        <a asp-controller="Role" asp-action="UpdateRoleClaims">به روز رسانی دسترسی‌های رول - RoleClaims</a>
    </li>
    <li>
        <a asp-controller="Role" asp-action="DeleteRole">حذف رول</a>
    </li>
</ul>

<hr />

<ul dir="rtl">
    <li>
        <a asp-controller="Role" asp-action="UpdateUserRoles">به روز رسانی رول‌های کاربر</a>
    </li>
</ul>

<hr />

<ul dir="rtl">
    <li>
        <a asp-controller="Role" asp-action="HasPermission">چک کردن دسترسی کاربر - HasPermission</a>
    </li>
</ul>