<!-- Header -->
<header id="page-header">
    <!-- Header Content -->
    <div class="content-header">
        <!-- Left Section -->
        <div>
            <!-- Toggle Sidebar -->
            <!-- Layout API, functionality initialized in Template._uiApiLayout()-->
            <button type="button" class="btn btn-dual mr-1" data-toggle="layout" data-action="sidebar_toggle">
                <i class="fa fa-fw fa-bars"></i>
            </button>
            <!-- END Toggle Sidebar -->
        </div>
        <!-- END Left Section -->
        <!-- Right Section -->
        <div>
            <!-- User Dropdown -->
            <div class="dropdown d-inline-block" style="pointer-events: none;">
                <button type="button" class="btn btn-dual">
                    <span class="">@User.Identity.Name.NormalizeUsername()</span>
                </button>
            </div>
            <!-- END User Dropdown -->
            
            <a asp-controller="Home" asp-action="Index" class="btn btn-dual d-none d-sm-inline-block" data-toggle="tooltip" title="داشبورد">
                <i class="far fa-fw fa-list-alt"></i>
            </a>
        </div>
        <!-- END Right Section -->
    </div>
    <!-- END Header Content -->
    
    <!-- Header Loader -->
    <!-- Please check out the Loaders page under Components category to see examples of showing/hiding it -->
    <div id="page-header-loader" class="overlay-header bg-primary-darker">
        <div class="content-header">
            <div class="w-100 text-center">
                <i class="fa fa-fw fa-2x fa-sun fa-spin text-white"></i>
            </div>
        </div>
    </div>
    <!-- END Header Loader -->
</header>
<!-- END Header -->