@using Mobin.CoreProject.Admin.Toolkit
@using Mobin.CoreProject.CrossCutting.Security.Extensions
@using Mobin.CoreProject.CrossCutting.Security.Models
@model AppUser

@{
    ViewData["Title"] = "ویرایش نام کاربری: " + Model.UserName.NormalizeUsername();

}


@{
    ViewBag.BreadCrumb = new BreadCrumb
    {
        Links = new List<BreadCrumbLink>
{
new BreadCrumbLink
{
Title = "مدیریت کاربران",
Link = Url.Action("Index"),
},

new BreadCrumbLink
{
Title = "ویرایش نام کاربری",
},
}
    };
}

@Html.Raw(RegateText.Init())

<div class="content">

    <form asp-action="EditUsername" asp-route-id="@Model.Id">
        <div class="block block-rounded block-bordered">
            <div class="block-content">

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">نام سازمانی</label>
                    <div class="col-sm-9">
                        <div dir="ltr">
                            @Html.Raw(RegateText.Build("NewUsername", Model.UserName.NormalizeUsername(), isRequired: true))
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">رمز ورود</label>
                    <div class="col-sm-9">
                        <div dir="ltr">
                            @Html.Raw(RegateText.Build("NewPassword", Model.UserName.NormalizeUsername(), isRequired: true))
                        </div>
                    </div>
                </div>

            </div>
            <div class="block-content block-content-full block-content-sm bg-body-light text-right">
                <button type="submit" class="btn btn-hero-success">
                    <i class="fa fa-check"></i> ثبت اطلاعات
                </button>
            </div>
        </div>
    </form>

</div>

