@using Mobin.CoreProject.Core.DTOs.User
@using Alamut.Data.Paging
@using Alamut.Helpers.Linq
@using DNTPersianUtils.Core
@using Mobin.CoreProject.Admin.Helper
@using Mobin.CoreProject.Admin.Toolkit

@model IPaginated<UserSummaryDTO>

@{
    ViewData["Title"] = "مدیریت کاربران";
}


@{
    ViewBag.BreadCrumb = new BreadCrumb
    {
        Links = new List<BreadCrumbLink>
        {
            new BreadCrumbLink
            {
                Title = "مدیریت کاربران",
                Link = Url.Action("Index"),
            },

            new BreadCrumbLink
            {
                Title = "لیست",
            },
        }
    };
}

<div class="content">

    <div class="text-right mb-3">
        <a class="btn btn-hero-success" asp-action="Create">
            <i class="fa fa-fw fa-plus"></i>
            ثبت کاربر جدید
        </a>
    </div>


    @if (Model.Data.IsAny())
    {
        var i = 1;

        <div class="table-responsive">
            <table class="table table-bordered table-striped table-vcenter table-hover">
                <thead class="thead-light">
                    <tr>
                        <th width="70" class="text-center">#</th>
                        <th>عنوان</th>
                        <th class="text-center" style="width: 1px;">عملیات</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Data)
                    {
                        <tr>
                            <td class="text-center">
                                @GridHelper.Counter(Model, i++)
                            </td>
                            <td>@item.UserName</td>
                            <td class="text-center fa-lg" style="white-space: nowrap;">
                                <a asp-action="Delete" asp-route-id="@item.UserName" data-role="delete" data-toggle="tooltip" title="حذف">
                                    <i class="si si-close text-danger"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        @await Html.PartialAsync("_Pagination", Model)
    }
    else
    {
        @await Html.PartialAsync("_Nodata")
    }


</div>

