<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>@ViewData["Title"]</title>

    <script src="~/dashmix/js/core/jquery.min.js"></script>
    <script src="~/dashmix/js/core/bootstrap.bundle.min.js"></script>
    <script src="~/dashmix/js/core/simplebar.min.js"></script>
    <script src="~/dashmix/js/core/jquery-scrollLock.min.js"></script>
    <script src="~/dashmix/js/core/jquery.appear.min.js"></script>
    <script src="~/dashmix/js/core/js.cookie.min.js"></script>

    <link rel="stylesheet" id="css-main" href="~/dashmix/css/dashmix.min.rtl.css">
</head>
<body dir="rtl">

    <div id="page-container" class="sidebar-o enable-page-overlay side-scroll page-header-fixed page-header-dark main-content-narrow">

        @await Html.PartialAsync("_Sidebar")

        <!-- Header -->
        <header id="page-header">
            <!-- Header Content -->
            <div class="content-header">
                <b>@ViewData["Title"]</b>
            </div>
            <!-- END Header Content -->
        </header>
        <!-- END Header -->
        <!-- Main Container -->
        <main id="main-container">

            @RenderBody()

        </main>
        <!-- END Main Container -->
        <!-- Footer -->
        <footer id="page-footer" class="bg-body-light">
            <div class="content py-0">
                <div class="row font-size-sm">
                    <div class="col-sm-6 order-sm-2 mb-1 mb-sm-0 text-center text-sm-right">
                        CoreProject
                    </div>
                    <div class="col-sm-6 order-sm-1 text-center text-sm-left">
                        Mobin &copy; <span data-toggle="year-copy">2018</span>
                    </div>
                </div>
            </div>
        </footer>
        <!-- END Footer -->
    </div>




    <script src="~/dashmix/js/dashmix.app.min.js"></script>


    <style>
        .select2-container .select2-selection--single {
            height: 38px;
        }

            .select2-container .select2-selection--single .select2-selection__rendered {
                padding-left: 15px;
            }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            line-height: 34px;
        }

        .select2-container--default .select2-selection--single .select2-selection__arrow {
            height: 36px;
        }

        .select2-results__option {
            padding: 1px 15px 3px;
        }

            .select2-results__option:empty {
                display: none;
            }

        .select2-container {
            width: 100% !important;
        }
    </style>
</body>
</html>
