
<div class="block block-rounded block-bordered" style="margin-bottom: -2px !important">
    <ul class="nav nav-tabs nav-tabs-alt">
        <li class="nav-item">
            <a class="nav-link" id="EditNameTab" asp-controller="Role" asp-action="EditName" asp-route-id="@Model.Id">عنوان</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="EditClaimsTab" asp-controller="Role" asp-action="EditClaims" asp-route-id="@Model.Id">دسترسی‌ها</a>
        </li>
    </ul>
 </div>   

 