@using Mobin.CoreProject.Admin.Toolkit
@{
    ViewData["Title"] = "ثبت نقش جدید";
}

@{
    ViewBag.BreadCrumb = new BreadCrumb
    {
        Links = new List<BreadCrumbLink>
        {
            new BreadCrumbLink
            {
                Title = "نقش",
                Link = Url.Action("Index"),
            },

            new BreadCrumbLink
            {
                Title = ViewData["Title"].ToString(),
            },
        }
    };
}

@Html.Raw(RegateText.Init())

<div class="content">

    <form asp-action="Create">
        <div class="block block-rounded block-bordered">
            <div class="block-content">

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">عنوان</label>
                    <div class="col-sm-9">
                        @Html.Raw(RegateText.Build("Name", isRequired: true))
                    </div>
                </div>

            </div>
            <div class="block-content block-content-full block-content-sm bg-body-light text-right">
                <button type="submit" class="btn btn-hero-success">
                    <i class="fa fa-check"></i> ثبت اطلاعات
                </button>
            </div>
        </div>
    </form>

</div>

