@using Mobin.CoreProject.Admin.Toolkit
@using Mobin.CoreProject.Core.SSOT
@{
    ViewData["Title"] = "ثبت دسترسی جدید";
}

@{
    ViewBag.BreadCrumb = new BreadCrumb
    {
        Links = new List<BreadCrumbLink>
        {
            new BreadCrumbLink
            {
                Title = "مدیریت دسترسی‌ها",
                Link = Url.Action("Index"),
            },

            new BreadCrumbLink
            {
                Title = ViewData["Title"].ToString(),
            },
        }
    };
}

@Html.Raw(RegateDropdown.Init())
@Html.Raw(RegateForeignKey.Init())

<div class="content">

    <form asp-action="Create">
        <div class="block block-rounded block-bordered">
            <div class="block-content">
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">کاربر</label>
                    <div class="col-sm-9">
                        @Html.Raw(RegateForeignKey.Build(Url.Action("GetAll", "User"), "UserName", isRequired: true))
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">دسترسی</label>
                    <div class="col-sm-9">
                        @Html.Raw(RegateDropdown.Build<AuthorityCode>("RoleName", isRequired: true))
                    </div>
                </div>
            </div>
            <div class="block-content block-content-full block-content-sm bg-body-light text-right">
                <button type="submit" class="btn btn-hero-success">
                    <i class="fa fa-check"></i> ثبت اطلاعات
                </button>
            </div>
        </div>
    </form>

</div>

