@{
    ViewData["Title"] = "داشبورد";
}

<div class="content">
    <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
            <div class="block block-bordered dashboard-box">
                <div class="block-header block-header-default dashboard-box-header dashboard-box-header__red400">
                    <img src="~/dashmix/media/majules/user-managment.svg" class="dashboard-box-header--avatar" />
                    <div class="dashboard-box-header--info">
                        <h3 class="dashboard-box-header--title">ماژول مدیریت کاربران</h3>
                        <p class="dashboard-box-header--subtitle">متن تستی به عنوان ساب تایتل</p>
                    </div>
                </div>
                <div class="block-content text-center">
                    <ul class="nav-items push">
                        <li>
                            <a class="media py-2" href="javascript:void(0)">
                                <div class="media-body">
                                    <div class="font-size-sm text-muted">حذف و اضافه کاربران</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="media py-2" href="javascript:void(0)">
                                <div class="media-body">
                                    <div class="font-size-sm text-muted">مدیریت نقش ها</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="media py-2" href="javascript:void(0)">
                                <div class="media-body">
                                    <div class="font-size-sm text-muted">مدیریت دسترسی ها</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="media py-2" href="javascript:void(0)">
                                <div class="media-body">
                                    <div class="font-size-sm text-muted">مدیریت کد پرسنلی</div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
            <div class="block block-bordered dashboard-box">
                <div class="block-header block-header-default dashboard-box-header dashboard-box-header__purple300">
                    <img src="~/dashmix/media/majules/employee-managment.svg" class="dashboard-box-header--avatar" />
                    <div class="dashboard-box-header--info">
                        <h3 class="dashboard-box-header--title">ماژول مدیریت کارمندان</h3>
                        <p class="dashboard-box-header--subtitle">متن تستی به عنوان ساب تایتل</p>
                    </div>
                </div>
                <div class="block-content text-center">
                    <ul class="nav-items push">
                        <li>
                            <a class="media py-2" href="javascript:void(0)">
                                <div class="media-body">
                                    <div class="font-size-sm text-muted">ایجاد کارمند جدید</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="media py-2" href="javascript:void(0)">
                                <div class="media-body">
                                    <div class="font-size-sm text-muted">لیست کارمندان</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="media py-2" href="javascript:void(0)">
                                <div class="media-body">
                                    <div class="font-size-sm text-muted">گزارش سرپرست</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="media py-2" href="javascript:void(0)">
                                <div class="media-body">
                                    <div class="font-size-sm text-muted">گزارش تضمین کیفیت</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="media py-2" href="javascript:void(0)">
                                <div class="media-body">
                                    <div class="font-size-sm text-muted">گزارش HeadCount</div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
