@using Mobin.CoreProject.Core.DTOs.Forest
@using Alamut.Data.Paging

@model IPaginated<ForestSummaryDTO>

@{
    ViewData["Title"] = "درخت";
}

<div class="bg-body-light">
    <div class="content content-full">
        <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center">
            <h1 class="flex-sm-fill font-size-h2 font-w400 mt-2 mb-0 mb-sm-2">درخت</h1>
            <nav class="flex-sm-00-auto ml-sm-3" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">درخت</li>
                    <li class="breadcrumb-item active" aria-current="page">لیست</li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="content">
    
    <div class="text-right mb-3">
        <a class="btn btn-hero-success" asp-controller="Forest" asp-action="Create">
            <i class="fa fa-fw fa-plus"></i>
            ثبت درخت جدید
        </a>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-striped table-vcenter">
            <thead>
                <tr>
                    <th>عنوان</th>
                    <th class="text-center" style="width: 100px;">عملیات</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Data)
                {
                    <tr>
                        <td>@item.Title</td>
                        <td class="text-center fa-2x" style="white-space: nowrap;">
                            <a href="#" data-toggle="tooltip" title="ویرایش">
                                <i class="si si-close text-danger"></i>
                            </a>
                            <a href="#" data-toggle="tooltip" title="حذف">
                                <i class="si si-note text-primary"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>